<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 

</head>
<body>
<header class="top-bar">
        <div class="logo"><img src="{{ url_for('static', filename='images/happy.gif') }}" onclick="window.location.href='{{ url_for('views.dashboard') }}'" alt="Lett-us Logo"><p class="logo-txt">Lett-us Save!</p></div>
        <button class="logout-btn" onclick="window.location.href='{{ url_for('auth.logout') }}'">Logout</button>
    </header>
<div class="login-container">
    <div class ="login-form">
    <h1 class="main-header">Budget Calculator</h1>
    <form id="budgetForm">
        <label class="main-paragraph" for="salary">Monthly Salary:</label>
        <input type="number" id="salary" name="salary" required>

        <label class="main-paragraph" for="spending">Weekly Spending:</label>
        <input type="number" id="spending" name="spending" required>

        <button class="login-btn"type="button" onclick="calculateBudget()">Submit</button>
    </form>

    <div id="result" class="result"></div>
</div>
</div>

<script>
function calculateBudget() {
    const salary = parseFloat(document.getElementById('salary').value) /4;
    const spending = parseFloat(document.getElementById('spending').value);
    const resultDiv = document.getElementById('result');

    if (isNaN(salary) || isNaN(spending) || salary < 0 || spending <0) {
        resultDiv.innerHTML = '<p>Please enter valid numbers for salary and spending.</p>';
        return;
    }


    const budget = salary - spending;

    if (budget <= 0) {
        const newSpending = salary * 0.9; // suggest spending 80% of salary
        resultDiv.innerHTML = `
            <p class="main-paragraph">You're over budget! Consider lowering your budget to £${newSpending.toFixed(2)} weekly.</p>
            <div class="intro"><img src="{{ url_for('static', filename='images/veryangy.gif') }}"  alt="Lett-us Logo"></div>
        
            `;
    } else {
        const savingsSuggestion = budget * 0.3;

        const months = [3, 6, 12];
        let savingsProjection = '';
        months.forEach(month => {
            let projectedSavings = savingsSuggestion * month;
            savingsProjection += `
                <p>In ${month} months, your savings could grow to £${projectedSavings.toFixed(2)}!</p>
            `;
        });

        resultDiv.innerHTML = `
            <p class="main-paragraph">You're under budget by £${budget.toFixed(2)}!</p>
            <p class="main-paragraph">Consider saving 30% of that extra budget (£${savingsSuggestion.toFixed(2)} per week).</p>
            ${savingsProjection}
        `;
    }
}
</script>

</body>
</html>
