<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lett-us Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">   
</head>
<body>
    <!-- Top Bar -->
    <header class="top-bar">
        <div class="logo"><img src="{{ url_for('static', filename='images/happy.gif') }}" onclick="window.location.href='{{ url_for('views.dashboard') }}'" alt="Lett-us Logo"><p class="logo-txt">Lett-us Save!</p></div>
        <button class="logout-btn" onclick="window.location.href='{{ url_for('auth.logout') }}'">Logout</button>
    </header>

    <!-- Main Content -->
    <main>
        <h1 class="main-header">Welcome Back to Lett-us!</h1>
        <p class="main-paragraph">You're now logged in! Ready to keep growing your financial knowledge? Choose one of the following bubbles to explore more:</p>

        <!-- Bubbles Section -->
        <div class="bubble-section">
            <div class="bubble" onclick="window.location.href='{{ url_for('views.tracker') }}'">Savings</div>
            <div class="bubble" onclick="window.location.href='{{ url_for('views.budget_calculator') }}'">Budget Calculator</div>
            <div class="bubble" onclick="window.location.href='{{ url_for('views.credit_score') }}'">Discover Credit Plans</div>
            <div class="bubble" onclick="window.location.href='{{ url_for('views.lessons') }}'">Lessons</div>
            <div class="bubble" onclick="window.location.href='{{ url_for('views.interest_calculator') }}'">Interest Calculator</div>
        </div>
    </main>
</body>
</html>
