<!DOCTYPE html><!--define as HTML 5-->
<html>
	<head><!--don't need to indent or space - could be all one line - nicer to read like this tho-->
		<title>Investing Basics</title><!--Tab name in browser-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head><!--within head is links to other files and info about the page-->

	<body><!--anything within body appears on the page-->
	
	  <!-- Top Bar -->
    <header class="top-bar">
        <div class="logo"><img src="{{ url_for('static', filename='images/happy.gif') }}" onclick="window.location.href='{{ url_for('views.dashboard') }}'" alt="Lett-us Logo"><p class="logo-txt">Lett-us Save!</p></div>
        <button class="logout-btn" onclick="window.location.href='{{ url_for('auth.logout') }}'">Logout</button>
    </header>
    
    <main>
            <div class="intro"><img src="{{ url_for('static', filename='images/stonks.png') }}" alt="Logo"></div>

		    <h1 class="main-header"> 
                Introduction to Investing
            </h1>
            <p class="main-paragraph"> 
                Investing is a way to grow your money by purchasing assets that have the potential to increase in value over time. Unlike savings accounts, where your money earns a fixed interest, investing carries some risk, but it can provide higher returns. Understanding the basic types of investments is crucial to making informed financial decisions.
            </p>

            <h3 class="sub-header"> 
                Stocks
            </h3>
            <p class="main-paragraph"> 
                Stocks represent ownership in a company. When you buy stock in a company, you become a shareholder and own a small part of that company. Stocks can provide high returns through price appreciation (the increase in the stock's value) and dividends (payments made to shareholders from the company’s profits).
            </p>

            <p class="main-paragraph"> 
                However, stocks are volatile and their value can fluctuate widely. It's important to understand the risks involved and diversify your stock holdings to reduce the impact of market swings.
            </p>

            <h3 class="sub-header"> 
                Bonds
            </h3>
            <p class="main-paragraph">
                Bonds are essentially loans that you give to companies or governments. In exchange, they pay you interest for a set period before repaying the full value of the bond at maturity. Bonds are typically considered safer than stocks, but they offer lower returns.
            </p>

            <h2 class="sub-header"> 
                Comparing Investment Types
            </h2>
            <p class="main-paragraph">
                When deciding where to invest your money, it’s essential to consider factors like risk tolerance, potential returns, and investment time horizon. Stocks offer the potential for high returns but come with high volatility. Bonds are lower risk but typically provide lower returns. Mutual funds offer diversification and professional management but may have higher fees.
            </p>


            <p class="main-paragraph">
                Before making any investment, it’s important to assess your financial goals, risk tolerance, and time frame. You should also consider working with a financial advisor to create a diversified investment strategy that suits your needs.
            </p>

            <div class="login-container">
            <div class="login-form">
             <p class="main-paragraph">Which of these is the least risky?</p>
             <p id = "output1" class="answer"></p>
            <form id = "q1" >
                <label class="main-paragraph" for = "crypto">Cryptocurrency</label>
                <input type = "radio" id = "crypto" name = "q1" value = "b">
                <br>
                <label class="main-paragraph" for = "bonds">Bonds</label>
                <input type = "radio" id = "bonds" name = "q1" value = "c">
                <br>
                 <label class="main-paragraph" for = "saving">Savings account</label>
                <input type = "radio" id = "saving" name = "q1" value = "a">
                <br>
                <label class="main-paragraph" for = "stocks">Stocks</label>
                <input type = "radio" id = "stocks" name = "q1" value = "c">
                <br>
                <button class="login-btn" type = "button" onClick = "getQ(1, 'saving', 'output1')">Submit</button>
		    </form>
            </div>
            </div>
             

		
	
    </main>
		
		<script>
        
        function getQ(q_num, correct, out){
            console.log("Enter function");
            if(document.getElementById(correct).checked == true){
                console.log("Correct");
                document.getElementById(out).innerHTML="Correct!";
                //may need db call to update user progress - using q_num param
            }else{
                document.getElementById(out).innerHTML="Incorrect";
                console.log("Incorrect");
            }
        }
    </script>
		
	</body>
</html>
