<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lett-us Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </style>
</head>
<body>
    <!-- Top Bar -->
    <header class="top-bar">
        <div class="logo"><img src="{{ url_for('static', filename='images/happy.gif') }}" onclick="window.location.href='{{ url_for('views.home') }}'" alt="Lett-us Logo"><p class="logo-txt">Lett-us Save!</p></div>
    </header>

    <!-- Login Form -->
    <div class="login-container">
        <form class="login-form" action="{{ url_for('auth.signup') }}" method="POST">
            <h2>Register to Lett-us</h2>
            <input type="text" class="login-input" name="username" required>
            <input type="password" class="login-input" name="password" required>
            <button type="submit" class="login-btn" >Sign-up</button>
            {% if error_message %}
            <div class="error-message" style="color: red; font-size: 12px; margin-top: 5px;">
                {{ error_message }}
            </div>
        {% endif %}
        </form>
    </div>
</body>
</html>
